# Quartus II output and temporary files
db/
incremental_db/
simulation/

*.chg
*.htm
*.eqn
*.jic
*.raw
*.sld
*.map
*.qws

# Temporary and log files
*.log
*.bak
*.tmp
*.temp
*.~*

# Waveform files
*.vwf
*.wcfg

# Testbench output files
*.vcd
*.wlf

